[submodule ".repl"]
	path = all/.repl
	url = https://github.com/defunkt/repl-completion.git
[submodule "Darwin/.brew-completion"]
	path = Darwin/.brew-completion
	url = https://github.com/miku/brew-completion.git
[submodule "all/.vim/bundle/Vundle.vim"]
	path = all/.vim/bundle/Vundle.vim
	url = git://github.com/gmarik/Vundle.vim.git
[submodule "all/zgen"]
	path = all/zgen
	url = git://github.com/tarjoilija/zgen.git
