[user]
  email = jcartledge@gmail.com
  name = James Cartledge
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]

  s     = status -s
  sv    = status

  d     = diff
  dc    = diff --cached

  lg    = log --graph --pretty=format:'%C(cyan)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

  ci    = commit
  cia   = commit -a
  ciam  = commit -am
  fixup = commit --amend -CHEAD

  co    = checkout
  cob   = checkout -b

  a     = add
  ap    = add --patch
  ai    = add --interactive

  pr    = pull --rebase

  ps    = push
  pom  = push origin master
  phm  = push heroku master

[core]
  editor = /usr/bin/vim
[merge]
	tool = mvim -d
